# ==========================================
# Python
# ==========================================

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/

# ==========================================
# Virtual Environment
# ==========================================

.venv/
venv/
env/

# ==========================================
# Pytest
# ==========================================

.pytest_cache/
.coverage
htmlcov/

# ==========================================
# IDE
# ==========================================

.vscode/
.idea/

# ==========================================
# Environment Variables
# ==========================================

.env

# ==========================================
# Logs
# ==========================================

logs/
*.log

# ==========================================
# Generated Pipeline Data
# ==========================================

data/bronze/**
data/silver/**
data/gold/**
data/watermarks.json

# Keep folder structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db